@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

.correction-page {
  background-image: url('../assets/vintage-grunge-paper-background1.jpg') !important;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.section {
  margin: 15px 10px; /* marges haut/bas de 15px et gauche/droite de 10px */
}

.section-1{
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.text-block{
  font-family: 'Great Vibes', cursive !important; /* Utilisez la police 'Great Vibes' */
  font-size: 5ch;
}

.images img {
  width: 60%;
  height: 60%;
  padding-left: 25px;
  padding-top: 25px;
  display:flex;
  justify-content: center;
  align-items: center;
}

