#flipbook .page {
  box-sizing: border-box;
  background-color: rgba(232, 215, 174, 0.936);
  color: black;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  backface-visibility: hidden;
  /* Ne surtout pas mettre de padding et margin sinon ça casse tout */
}

#flipbook .hard {
  background-color: #888484; /* Couleur de fond plus foncée pour les couvertures */
  color: #333;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#flipbook {
  max-width: 80%; /* Largeur du livre */
  max-height: 100%; /* Hauteur du livre */
  margin: 0 auto;
  position: relative;
}

